# Auto detect text files and perform LF normalization
* text=auto
c:\Users\RC_Student_lab\AndroidStudioProjects\MyIceTask2\gradle.properties c:\Users\RC_Student_lab\AndroidStudioProjects\MyIceTask2\gradlew c:\Users\RC_Student_lab\AndroidStudioProjects\MyIceTask2\gradlew.bat c:\Users\RC_Student_lab\AndroidStudioProjects\MyIceTask2\local.properties c:\Users\RC_Student_lab\AndroidStudioProjects\MyIceTask2\settings.gradle.kts c:\Users\RC_Student_lab\AndroidStudioProjects\MyIceTask2\.gradle c:\Users\RC_Student_lab\AndroidStudioProjects\MyIceTask2\.idea c:\Users\RC_Student_lab\AndroidStudioProjects\MyIceTask2\app c:\Users\RC_Student_lab\AndroidStudioProjects\MyIceTask2\gradle c:\Users\RC_Student_lab\AndroidStudioProjects\MyIceTask2\MyIceTask2 c:\Users\RC_Student_lab\AndroidStudioProjects\MyIceTask2\.gitignore c:\Users\RC_Student_lab\AndroidStudioProjects\MyIceTask2\build.gradle.kts